<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> 
<body>
    <!-- render krte time jo age paas ki thi usko ese access -->
    <h3><%=age%></h3>
    hey man
</body>
</html>